  /*  Carousel  */

.carousel-wrapper {
    background: #7a706e;
    border: 1px solid transparent;
    margin: 0 0 30px 0;
    padding: 18px 80px 10px 80px;
    @include respond-to(desktop-large-and-below) {
        background: none;
        border: none;
        padding: 0;
        .post-carousel {
           .prev, .next {
                display: none;
            } 
        }
        .view-more {
          display: block;
        }
      }
      .post-desc {
            h4 {
                text-transform: none;
                a {
                    font-family: $base-font-book;  
                    letter-spacing: .08em;
                    line-height: 1.24em;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
.view-more {
    display: none;
    padding-top: 10px;
    height: 48px;
    background: #d6d6d6;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    text-align: center;
}
.post-carousel {
    position:relative;
    @include clearing();
    ul {
        padding: 0;
        list-style: none;
        display: block;
        background: #fff;
    }  
    li {
        /* padding: 0 0 0 34px; */
        display: block;
        float: left;
        position: relative;
        background: #7a706e;
        height: 100%;
        img.img-circle {
            width: 40px;
            height: 40px;
            margin-top: 14px;
        } 
    }
    .prev, .next {
        margin-left: 10px;
        width: 44px;        
        display: block;                
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;  
        outline: none; 
        color: #b5b3ae;  
        height: 28px;
        &:before {
           font-size: 4.2em;  
        }
                  
    }
    /* Individual setting for previous button */
    .prev {
        left: -60px;
    }
    .next {
        right: -72px;
    }              
    .pager {
        margin: 0 auto;
        text-align: center;
    }
    /* Style the pagination button with dot */
    /* Same as prev and next button, we use the same css sprite */
    .pager a {
        margin: 0 5px 0 0;
        text-decoration: none;
        display: inline-block;
        width: 8px;
        height: 8px;
        text-indent: -999em;
        &.selected {
            text-decoration: underline;            
        }
    }      
}        

