/* Rollover text buble */
.rollover-text-buble:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    cursor: pointer;
    width: 1px; 
    height: 100%;
    visibility: hidden;

    @include transition(all 0.1s);
    
    
}
.rollover-text-buble .dmixer-title{
    position: relative;
    z-index: 1000;
    display: inline-block;
    transition: all 0.4s;
    &:after {
        content: "";
        display: block;
        height: 1px;
        margin: auto;
        width: 2px;
        opacity: 0;
        position: relative;
        top: 4px;
        background-color: transparent;
        @include transition(all 0.1s ease-in-out);
    }
}
.rollover-text-buble:hover {
    &:after {
        opacity: 1;
        height: 100%;
        width: 100%;
        border-radius: 0;
        visibility: visible;
        background-color: $main-color-brown;
    }
    .dmixer-title {
        &:after {
            width: 100%;
            opacity: 1;
            background-color: #fff;
        }
    }
} 


/* Rollover text buble up*/
.rollover-text-buble-up:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    cursor: pointer;
    width: 1px; 
    height: 100%;
    margin: auto;
    /* border-radius: 200%; */

    @include transition(all 0.1s);

}
.rollover-text-buble-up .dmixer-title {
    position: relative;
    z-index: 1000;
    display: inline-block;
    @include transition(all 0.2s);
    @include transform(translate(0px,0px));
    &:after {
        content: "";
        display: block;
        height: 1px;
        margin: auto;
        width: 2px;
        opacity: 0;
        margin-left: -4px;
        background-color: transparent;
        @include transition(all 0.2s ease-in-out);
    }
}
.rollover-text-buble-up:hover {
    &:after {
        opacity: 1;
        height: 100%;
        width: 100%;
        border-radius: 0;
        visibility: visible;
        background-color: $main-color-brown;
    }
    .dmixer-title {

        @include transform(translate(0px,-20px));
        &:after {
            width: 100%;
            opacity: 1;
            background-color: #fff;
            position: relative;
        }
    }
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

