@font-face {
  font-family: 'social-set';
  src:url('../fonts/socials/icomoon.eot?-8s3h64');
  src:url('../fonts/socials/icomoon.eot?#iefix-8s3h64') format('embedded-opentype'),
    url('../fonts/socials/icomoon.woff?-8s3h64') format('woff'),
    url('../fonts/socials/icomoon.ttf?-8s3h64') format('truetype'),
    url('../fonts/socials/icomoon.svg?-8s3h64#icomoon') format('svg');
}

@font-face {
  font-family: 'icon-set';
  src:url('../fonts/icons/icomoon.eot?esy2mx');
  src:url('../fonts/icons/icomoon.eot?#iefixesy2mx') format('embedded-opentype'),
    url('../fonts/icons/icomoon.woff?esy2mx') format('woff'),
    url('../fonts/icons/icomoon.ttf?esy2mx') format('truetype'),
    url('../fonts/icons/icomoon.svg?esy2mx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ico-sc"], [class*=" ico-sc"] {
  font-family: 'social-set';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-sc-search:before {
  content: "\e601";
}
.ico-sc-like:before {
  content: "\e605";
}
.ico-sc-gplus:before {
  content: "\e606";
}
.ico-sc-fb:before {
  content: "\e607";
}
.ico-sc-tw:before {
  content: "\e608";
}
.ico-sc-pin:before {
  content: "\e609";
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon-set';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cocktail:before {
  content: "\e600";
}

.icon-common-right-arrow:before {
  content: "\e601";
}

.icon-left-advance-arrow:before {
  content: "\e602";
}

.icon-more:before {
  content: "\e603";
}

.icon-right-advance-arrow:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e605";
}

.icon-short:before {
  content: "\e606";
}

.icon-soda:before {
  content: "\e607";
}