.dmixer-main-navbar {
    @include transition(padding .4s ease);
    .dmixer-sidebar {
        padding: 6px 0;
    }
    .dmixer-main-menu {
        margin-left: 5%;
        margin-top: 28px;
        position: relative;
        /* padding-right: 6%; */
        .dropdown-menu {
            width: 100%;
            text-align: center;
        }
        .nav > li {
            position: static;
        }
        @include respond-to(desktop-large-and-below) {
            margin-left: 2%;
        }
        @include respond-to(desktop-and-below) {
            margin-left: 0;
            &.navbar-nav li > a {
                font-size: 1em;
                line-height: 1.4em;
                .icon-more{
                    &:before {
                        font-size: 12px;
                    }
                }
            }
        }
        @include respond-to(tablet-landscape-and-below) {
            &.navbar-nav {
                margin-top: 20px;
                li a {
                    padding-left: 4px;
                    padding-right: 4px;
                    letter-spacing: 0.3em;
                }
            }
       }
        @include respond-to(tablet-portrait-and-below) {
            &.navbar-nav {
                margin-top: 0;
            }
        }
    }
    .dmixer-user-profile {

        margin-right: 0;
        position: absolute;
        right: 12px;
        top: 6px;
        float: right;
        z-index: 10;
        .dmixer-user-image {
            width: 74px;
            height: 74px;
            position: relative;
            @include border-radius(50px);
            border: 4px solid $main-color-white;
        }
    }
    .dmixer-main-search {
        position: absolute;
        margin-right: 0;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        .dmixer-search-item {
            width: 100%;
        }
    }
    .dmixer-search-button {
        width: 100%;
        margin: 12px 0;
        position: relative;
        &.btn {
            @include border-radius(0);
            outline: none;
            background: #c6c3c3;
            color: #fafafa;
            font-size: 1.5em;
            font-family: $base-font-light;
            line-height: 1em;
            text-transform: uppercase;
            letter-spacing: .8em;
        }
        &:after {
            content: "";
            display: block;
            width: 94%;
            height: 2px;
            background: #fafafa;
            position: absolute;
            bottom: -14px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
    .dmixer-navbar-footer {
        background: $main-search-bg;
        margin-bottom: 36px;
        .dmixer-footer-list {
            width: 242px;
            margin: 0 auto;
        }
        .dmixer-footer-item {
            position: relative;
            a {
                font-family: $base-font-light;
            }
            &:first-child, &:nth-child(4) {
                &:before {
                    display: none;
                }
            }
            &:before {
                content: "";
                display: block;
                height: 12px;
                width: 1px;
                background: #fafafa;
                position: absolute;
                top: 5px;
                left: -2px;
            }
            a {
                color: #fafafa;
                font-size: .8em;
            }
        }
    }
    @include respond-to(desktop-and-below) {
        .dmixer-user-profile {
            .dmixer-user-image {
                width: 60px;
                height: 60px;
            }
        }
        .dmixer-main-search .dropdown-toggle {
            right: 60px;
            .icon-search {
                font-size: 30px;
                line-height: 30px;
                right: 10px;
            }
        }
    }
    @include respond-to(tablet-and-below) {
        .navbar-brand {
            width: 170px;
            height: 80px;
        }
    }
    @include respond-to(tablet-portrait-and-below) {
        .dmixer-main-menu {
            margin-top: 0;
            margin-right: 0;
            padding-right: 2.83%;
            padding-left: 2.83%;
            .dmixer-more-menu .dmixer-menu-item, > .dmixer-menu-item {
                text-align: center;
                border-bottom: 2px solid #fafafa;
                a {
                    padding: 8px 0 8px;
                    display: block;
                    letter-spacing: 0.4em;
                    line-height: 1.4em;
                }
            }
        }
        .dmixer-main-search  {
            top: -3px;
            right: 3px;
            .dropdown-toggle{
                margin-top: 0;
                right: 40px;
                .icon-search {
                    font-size: 24px;
                    top: 0;
                    right: 0;
                }
            }
            .dmixer-search-form {
                .form-control {
                    font-size: 2.5em;
                }
            }
        }
        .dmixer-user-profile {
            margin: 0;
            position: absolute;
            top: 2px;
            right: 5px;
            .dmixer-user-link {
                display: block;
            }
            .dmixer-user-image {
                width: 34px;
                height: 34px;
                border-width: 2px;
            }
        }
        &.navbar-default {
            .navbar-brand {
                padding-right: 5px;
            }
        }
    }
    @include respond-to(mobile-and-below) {}
}
.navbar-default {
    background-color: $header-bg;
    border-bottom: none;
    .navbar-nav {
        .dropdown-toggle {
            margin-top: 4px;
            line-height: 20px;
            padding-bottom: 0;
        }
        .dmixer-menu-item > a {
            color: $main-text;
            font-size: 1.35em;
            line-height: .8em;
            text-transform: uppercase;
            letter-spacing: .26em;
            @include transition(.4s ease);
        }
        .dmixer-menu-item > a:hover, .dmixer-menu-item > a:focus {
            background: transparent;
            .icons-more {
                background: transparent;
            }
        }
        .dmixer-menu-item .active {
            .dmixer-menu-item a, .dmixer-menu-item a:hover, .dmixer-menu-item a:focus {
                background-color: transparent;
                color: $main-text;
                text-transform: uppercase;
            }
        }
    }
    .dropdown-menu {
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: transparent;
        border: none;
        border-top: none;
        @include border-radius(0);
        @include box-shadow(none);
        display: block;
        .list-inline {
            margin-left: 0;
            font-size: 1.08em;
            opacity: 0;
            @include transition (opacity .4s ease);
        }
        li {
            border: none;
        }
        li > a {
            color: $main-text;
            &:hover {}
        }
    }
    .open .dropdown-menu {
        visibility: visible;
        .list-inline {
            opacity: 1;
        }
    }
    .navbar-nav > .open > a {
        @include link-colors(#fff, #fff, #fff, #fff, #fff);
        padding-bottom: 0;
        letter-spacing: .16em;
    }
    .navbar-nav > li > a {
        @include link-colors(#fff, #fff, #fff, #fff, #fff);
        padding-bottom: 0;
        letter-spacing: .16em;
    }
    .navbar-header {
        margin-left: 4.285%; /* 60px/1400px */
        position: relative;
        z-index: 10;
    }
    .navbar-brand {
        line-height: 0;
        overflow: hidden;
        text-indent: -99999px;
        vertical-align: top;
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        img {
            max-width: 100%;
        }
    }
    .navbar-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 116px;
        max-height: 24px;
        float: none;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: .4em;
        &:active, &:hover, &:focus {
            background-color: transparent;
        }
    }
    @include respond-to(tablet-landscape-and-below) {
        .navbar-header {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @include respond-to(tablet-portrait-and-below) {
        .navbar-header {
            position: relative;
        }
        .navbar-collapse {
            margin: 0;
            padding: 0;
            position: relative;
            border-top: transparent;
            background: $header-collapse-bg;

        }
        .navbar-brand {
            padding-right: 0;
            width: 90px;
            padding-left: 0;
            padding-top: 0;
            top: -5px;
            position: relative;
        }
        .dropdown-menu {
            position: static;
            padding: 0;
            margin: 0;
            .list-inline {
                margin-left: 0;
                font-size: 1.08em;
                opacity: 1;
                li {
                    padding-right: 0;
                    padding-left: 0;
                    display: block;
                }
            }
        }
        .navbar-nav {
            &.dmixer-main-search {
                .dropdown-toggle {
                    padding: 0;
                }
            }
        }
        .navbar-toggle {
            font-size: 15px;
            line-height: 1em;
            right: -15px;
        }
        .icon-more {
            right: 3px;
            top: 1px;
        }
    }
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: none;
    border: none;
}
.navbar-form {
    border: none;
    box-shadow: none;
    margin: 0;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 1000px;
    position: relative;
    
}
.navbar-fixed-top {
    max-width: 1400px;
    margin: auto;
}
.navbar-fixed-top .container {
    position: relative;
}
.modal,
.modal-open {
    padding-right: 0 !important;
}

.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: inherit;
    @include box-shadow(none);
    -webkit-overflow-scrolling: touch;
}
