.dmixer-main-search.navbar-nav {
    .dropdown-menu {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: $main-search-bg;
        position: absolute;
        top: 72px;
        left: 0;
        padding: 12px 0 20px;
    }
    .open .dropdown-menu {
        opacity: 1;
        visibility: visible;
        @include transition(.4s ease);
        @include transition-delay(.3s);
    }
    .dmixer-search-form {
        width: 100%;
        margin-top: 0;
        width: 50%;
        margin-top: 0;
        margin: auto;
        position: relative;
        padding: 0;
        .form-group {
            border: none;
            margin: 10px 0;
            position: relative;
        }
        .form-control {
            border-bottom: 2px solid #fafafa;
            border-radius: 0;
            margin-left: 83px;
            letter-spacing: 1em;
            font-size: 3.5em;
            line-height: 56px;
            height: 56px;
            text-align: left;
            padding-left: 0;
            color: #fafafa;
        }
    }
    > li {
        position: static;
    }
    @include respond-to(desktop-and-below) {
        .dmixer-search-form {
            .form-group {} .form-control {
                font-size: 2.5em;
            }
        }
    }
}
.dmixer-search {
    .form-group {
        width: 100%;
    }
    .form-control {
        background-color: transparent!important;
        border: none;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        @include box-shadow(none);
    }
    .btn-default {
        display: none;
    }
}
.dmixer-search-modal {
    .modal-content {
        background-color: $brown-color-2;
    }
    .modal-header {
        border: none;
    }
    .dmixer-search-form {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 20%;
        margin: auto;
    }
    .dmixer-search-button {
        background: none;
        border: none;
        width: 150px;
        margin: auto;
    }
}
.dmixer-search-modal {
    .close {
        opacity: 1;
    }
    .modal-header {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
    }
    .modal-body {
        min-height: 170px;
    }
    .dmixer-search-button {
        background: none;
        border: none;
        width: 80%;
        margin: auto;
        display: block;
        padding: 0;
        .icon-search {
            display: block;
            font-size: 26px;
            line-height: 36px;
        }
        .icon-search-label {
            text-transform: uppercase;
            letter-spacing: 0.1em;
            position: relative;
            top: -10px;
        }
    }
    .dmixer-search-input {
        background: none;
        border: none;
        outline: none;
        text-transform: uppercase;
        width: 85%;
        display: block;
        font-size: 2em;
        text-align: center;
        margin: auto;
        display: block;
        border-bottom: 2px solid #fafafa;
        border-radius: 0;
        font-size: 1.5em;
        line-height: 44px;
        height: 36px;
        text-align: center;
        padding-left: 0;
        color: #fafafa;
        margin-top: 6%;
        letter-spacing: .05em;
    }
}
/* .dmixer-search-header {
    @include clearing();
    .form-group {
        float: right;
        margin-top: 26px;
        /* background: url('../images/layout/icons-sd96062c447.png') 100% -144px no-repeat; 
    }
} */
/* .dmixer-collapsed-in {
    .navbar-collapse,
    .dmixer-logo-wrapper,
    .dmixer-user-profile {
        display: none;
    }
    .dmixer-search-item {
        .dmixer-more-menu {
            background-color: transparent;
            top: 0!important;
        }
        .dmixer-search-form {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 30px;
        }
        .form-group {

        }
        .form-control {

        }
        .icon-search {

        }
    }
} */
